<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- This is the link to the css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <!-- This is the main heading -->
    <h1>Home</h1>
    <!-- This paragraph describes the home page -->
    <p>This the hunger repository</p>
<body>
    <!-- Link to the login page 
     href is how I link to pages together with a link
    <a href="login">Login</a><br> -->
</body>
</html>