<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download PDF</title>
</head>
<body>
    <h1>Download PDF</h1>
    <p>Click the link below to download the PDF file:</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country"><br><br>

        <label for="major">Major:</label>
        <input type="text" id="major" name="major"><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br><br>

        <label for="advisor">Advisor:</label>
        <input type="text" id="advisor" name="advisor"><br><br>

        <label for="themes">Themes:</label>
        <input type="text" id="themes" name="themes"><br><br>

        <label for="year">Year:</label>
        <input type="number" id="year" name="year"><br><br>

        <input type="submit" value="Submit">
    </form>

    <!-- Replace 'filename.pdf' with the actual filename -->
     <!-- this is really janky I tired various other methodes for getting the url to work better-->
    <ul>
        {% if documents %}
            {% for document in documents %}
            <li>
            <span class="document-item">
                {{ document.name }}
                {{ document.city }}
                {{ document.country }}
                {{ document.major }}
                {{ document.author }}
                {{ document.advisor }}
                {{ document.themes }}
                {{ document.year }}
                <button onclick="window.location.href='/media/{{ document.docfile }}'">Download</button>
            </span>
            </li>
            {% endfor %}
        {% else %}
            <li>No items found</li>
        {% endif %}
    
    
    <style>
        .document-item {
            display: flex;
            align-items: center; 
        }
    
        .document-item a {
            margin-right: 30px; 
        }
    
        .document-item button {
            padding: 5px 10px; 
            cursor: pointer; 
        }
    </style>
    </ul>


 
    

</body>
</html>